/* Product.jsx styling */

.content h3 {
  text-align: center;
  font-size: 21px;
  margin: 0;
  padding-top: 10px;
}
.content a {
  text-decoration: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.content {
  width: 18%;
  margin: 30px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}
.content:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: translate(0px, -8px);
  transition: 0.6s;
}
.content img {
  /* width: 250px;
  height: 200px; */
  max-width: 100%;
  max-height: 100%;
}
.content p {
  text-align: center;
  color: #b2bec3;
  padding: 0 8px;
}

.content h6 {
  font-size: 26px;
  padding: 15px;
  text-align: center;
  color: #222f3e;
  margin: 0;
}
.content ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.content li {
  padding: 5px;
}

.content .fa {
  color: #ff9f43;
  font-size: 26px;
  transition: 0.4s;
}

.fa:hover {
  transform: scale(1.3);
  transition: 0.6s;
}
.content button {
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0px;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.content .buy-1 {
  background-color: #2183a2;
}
.content .buy-2 {
  background-color: #3b3e6e;
}
.content .buy-3 {
  background-color: #0b0b0b;
}
@media (max-width: 1000px) {
  .content {
    width: 46%;
  }
}
@media (max-width: 750px) {
  .content {
    width: 100%;
  }
}

/* HomeScreen.jsx style */
.HomeScreen {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 40px;
}

.HomeScreen fieldset {
  padding: 20px;
}
/* Ratings.jsx style */
.ratings {
  padding: 10px;
}
.ratings span {
  padding: 3px;
}

/* Product Screen */

* {
  box-sizing: border-box;
}

.ProductScreen .card {
  width: 700px;
  height: fit-content;
  position: absolute;
  background: white;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}
.ProductScreen .card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProductScreen nav {
  display: flex;
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 2px solid #efefef;
  font-size: 12px;
}
.ProductScreen nav ul {
  right: 10px;
  position: absolute;
  top: 12px;
  line-height: 18px;
}

.ProductScreen nav ul li {
  text-decoration: none;
  list-style: none;
}

.ProductScreen .photo {
  padding: 30px;
  width: 40%;
  height: 40%;
  text-align: center;
  float: left;
}
.photo img {
  max-height: 100%;
  max-width: 100%;
}

.ProductScreen .description {
  padding: 30px;
  float: left;
  width: 55%;
  border-left: 2px solid #efefef;
}
.ProductScreen h1 {
  color: #515151;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.ProductScreen h2 {
  color: #515151;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.ProductScreen h4 {
  padding-top: 10px;
  margin: 0;
  color: #727272;
  font-weight: 500;
  font-size: 12px;
}

.ProductScreen p {
  font-size: 12px;
  line-height: 20px;
  color: #727272;
  padding: 20px 0;
  margin: 0;
}

.ProductScreen button {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  margin-bottom: 30px;
  color: #515151;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}
.ProductScreen button:hover {
  background: darken(white, 2%);
  border: 1px solid #aedaa6;
  color: #aedaa6;
  cursor: pointer;
}

/* Loader  section start */
.loader {
  --b: 10px; /* border thickness */
  --n: 10; /* number of dashes*/
  --g: 10deg; /* gap between dashes*/
  --c: red; /* the color */

  width: 100px; /* size */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000, var(--c)) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg calc(360deg / var(--n) - var(--g) - 1deg),
      #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(98% - var(--b)),
      #000 calc(100% - var(--b))
    );
  mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg calc(360deg / var(--n) - var(--g) - 1deg),
      #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(98% - var(--b)),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: load 1s infinite steps(var(--n));
}
@keyframes load {
  to {
    transform: rotate(1turn);
  }
}

/* End of Loader section */

/* Warning Component section start Here */

/* Warning Component section ends Here */
